pgp_kinematic_agent_augmentation:
  _target_: tuplan_garage.planning.training.data_augmentation.pgp.pgp_kinematic_agent_augmentation.PGPKinematicAgentAugmentor
  _convert_: 'all'

  augment_prob: 0.5  # probability of applying data augmentation for training
  mean: [1.0, 0.0, 0.0]  # the mean vector of the Gaussian noise on [x, y, heading]
  std: [1.0, 1.0, 0.5]  # the std vector of the Gaussian noise on [x, y, heading]
  low: [0.0, -1.0, -0.5]  # lower bound on Uniform noise on [x, y, heading], used only if use_uniform_noise == true
  high: [1.0, 1.0, 0.5]  # upper bound on Uniform noise on [x, y, heading], used only if use_uniform_noise == true
  use_uniform_noise: false  # use uniform noise instead of gaussian noise
  trajectory_length: 16  # the augmentation trajectory length
  dt: 0.5  # the time interval between two consecutive points of the trajectory
